<!doctype html>
{% macro js(filename) -%}
   <script type="text/javascript"
      src="{{ url_for('static', filename='js/' + filename + '.js') }}"> </script>
{%- endmacro %}
<html>
   <head>
      % block head
      <title>{% block title %}Tamari{% endblock %}</title>
      % endblock
      <link rel="stylesheet" type="text/css"
         href="{{ url_for('static', filename='css/tamari.css') }}" />
      {{ js('tamari') }}
      {{ js('app') }}
   </head>
   <body>
      % block body
      % endblock
   </body>
</html>
